# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
~*
*.pro.user
*.pro.autosave
*.autosave
*.pro.user.*
*__Debug
*__Release
/.directory
Libraries/.directory
Libraries/bigint-2010.04.30/
Libraries/boost_1_53_0/
Libraries/boost_*
Libraries/fparser4.4.3/
Libraries/fparser4.5.1/
Libraries/fparser4.3/
Libraries/mxe/
Libraries/planner/
Libraries/polymorphable-master/
Libraries/projectlibre-code/
Libraries/Qwt/
Libraries/qwt-6.0.1/
Libraries/shiny/
Libraries/vpiano-0.9/
Libraries/john-1.7.9/
Libraries/wt/
Libraries/libcvautomation/
Libraries/libcvautomation_readonly/
Libraries/SikuliX-API/
Libraries/SikuliX-IDE/
COPY*
*/build*
Projects/RichelbilderbeekNl/*.wmv
Projects/RichelbilderbeekNl/*.rar
Projects/RichelbilderbeekNl/*.zip
Projects/RichelbilderbeekNl/*.ogg
Projects/RichelbilderbeekNl/*.mp3
Projects/RichelbilderbeekNl/*.exe
Projects/RichelbilderbeekNl/*.wav
Projects/RichelbilderbeekNl/*.ppt
Projects/RichelbilderbeekNl/*.doc
Projects/RichelbilderbeekNl/*.jpg
Projects/RichelbilderbeekNl/*.JPG
Projects/RichelbilderbeekNl/*.PNG
Projects/RichelbilderbeekNl/*.pdf
Projects/RichelbilderbeekNl/*.odt
Projects/RichelbilderbeekNl/*.sh
Projects/RichelbilderbeekNl/*.xls
Projects/RichelbilderbeekNl/*.css
Projects/RichelbilderbeekNl/*.7z
Projects/RichelbilderbeekNl/*.py
Projects/RichelbilderbeekNl/*.url
Projects/RichelbilderbeekNl/*.gif
Projects/RichelbilderbeekNl/*.ogv
Projects/RichelbilderbeekNl/*.wt
Projects/RichelbilderbeekNl/*.mid
Projects/RichelbilderbeekNl/*.docx
Projects/RichelbilderbeekNl/*_old.htm
Projects/RichelbilderbeekNl/*Source*.zip
Projects/RichelbilderbeekNl/*Source*.htm
Projects/RichelbilderbeekNl/googleb5227bbf47f081ef.html
Projects/RichelbilderbeekNl/_vti_inf.html
Projects/RichelbilderbeekNl/sitemap.xml.gz

