# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
~*
ui_*
moc_*
qrc_*
tmp*.txt
\#*
*.pro.user
*.pro.autosave
*.autosave
*.pro.user.*
*.exe
*__Debug
*__Release
*_plugin_import.cpp
tmp.txt
Makefile
object_script*
Makefile.Debug
Makefile.Release
trace_out.txt
autosave1.cmp
autosave2.cmp
/.directory
Examples/
Libraries/.directory
Libraries/Arduino/
Libraries/avr-libc-user-manual-1.8.0
Libraries/bigint-2010.04.30/
Libraries/boost_1_53_0/
Libraries/boost_*
Libraries/bot.sh
Libraries/bullet-2.81-rev2613/
Libraries/cabalistic-ogredeps-70ef5cdddebb
Libraries/CMakeFiles/
Libraries/CMakeCache.txt
Libraries/ircbot_fsx/
Libraries/eggdrop1.6.21
Libraries/Fritzing-Library/
Libraries/fparser4.4.3/
Libraries/fparser4.5.1/
Libraries/fparser4.3/
Libraries/Hashcat/
Libraries/irrlicht-1.8/
Libraries/mxe/
Libraries/ode-0.12/
Libraries/ogre_src_v1-8-1/
Libraries/OpenPCR/
Libraries/planner/
Libraries/polymorphable-master/
Libraries/projectlibre-code/
Libraries/quxbot/
Libraries/Qwt/
Libraries/qwt-6.0.1/
Libraries/qwt-6.1/
Libraries/qwt-6.1.0/
Libraries/qwt-6.1.0.zip
Libraries/shiny/
Libraries/tesseract-3.00/
Libraries/tor-browser*
Libraries/tornado/
Libraries/vpiano-0.9/
Libraries/john-1.7.9/
Libraries/wt/
Libraries/libcvautomation/
Libraries/libcvautomation_readonly/
Libraries/SikuliX-API/
Libraries/SikuliX-IDE/
COPY*
*/build*
Projects/RichelbilderbeekNl/*.wmv
Projects/RichelbilderbeekNl/*.rar
Projects/RichelbilderbeekNl/*.zip
Projects/RichelbilderbeekNl/*.ogg
Projects/RichelbilderbeekNl/*.mp3
Projects/RichelbilderbeekNl/*.exe
Projects/RichelbilderbeekNl/*.wav
Projects/RichelbilderbeekNl/*.ppt
Projects/RichelbilderbeekNl/*.doc
Projects/RichelbilderbeekNl/*.jpg
Projects/RichelbilderbeekNl/*.JPG
Projects/RichelbilderbeekNl/*.PNG
Projects/RichelbilderbeekNl/*.pdf
Projects/RichelbilderbeekNl/*.odt
Projects/RichelbilderbeekNl/*.sh
Projects/RichelbilderbeekNl/*.xls
Projects/RichelbilderbeekNl/*.css
Projects/RichelbilderbeekNl/*.7z
Projects/RichelbilderbeekNl/*.py
Projects/RichelbilderbeekNl/*.url
Projects/RichelbilderbeekNl/*.gif
Projects/RichelbilderbeekNl/*.ogv
Projects/RichelbilderbeekNl/*.wt
Projects/RichelbilderbeekNl/*.mid
Projects/RichelbilderbeekNl/*.docx
Projects/RichelbilderbeekNl/*_old.htm
Projects/RichelbilderbeekNl/*Source*.zip
Projects/RichelbilderbeekNl/*Source*.htm
Projects/RichelbilderbeekNl/googleb5227bbf47f081ef.html
Projects/RichelbilderbeekNl/_vti_inf.html
Projects/RichelbilderbeekNl/sitemap.xml.gz
Test/*.htm
Games/GameBoenken/GameBoenken
Games/GameRubiksClock/GameRubiksClockWebsite
Games/GameCorridor/GameCorridor
Games/GamePylos/GamePylos
Games/GameMaziak/GameMaziakDesktop
Test/CppHelloBoostUblasQtCreatorSliTaz/CppHelloBoostUblasQtCreatorSliTaz
Test/CppHelloCpp0xQtCreatorLubuntu/CppHelloCpp0xQtCreatorLubuntu
Test/CppHelloBoostXpressiveQtCreatorSliTaz/CppHelloBoostXpressiveQtCreatorSliTaz
Test/CppHelloCpp11QtCreatorCygwin/CppHelloCpp11QtCreatorCygwin
Test/CppHelloBoostXpressiveQtCreatorWindows/CppHelloBoostXpressiveQtCreatorWindows
Test/CppHelloBoostLexical_CastQtCreatorLubuntuToWindows/CppHelloBoostLexical_CastQtCreatorLubuntuToWindows
Test/CppHelloCpp11QtCreatorLubuntuToWindows/CppHelloCpp11QtCreatorLubuntuToWindows
Test/CppHelloWorldQtCreatorLubuntuToWindows/CppHelloWorldQtCreatorLubuntuToWindows
Test/CppQSqlTableModelExample2/CppQSqlTableModelExample2
Test/CppHelloQtQtCreatorLubuntu/CppHelloQtQtCreatorLubuntu
Test/CppHelloBoostXpressiveQtCreatorLubuntuToWindows/CppHelloBoostXpressiveQtCreatorLubuntuToWindows
Test/CppHelloBoostUblasQtCreatorLubuntu/CppHelloBoostUblasQtCreatorLubuntu
Test/CppHelloBoostRegexQt5QtCreatorLubuntuToWindows/CppHelloBoostRegexQt5QtCreatorLubuntuToWindows
Test/CppHelloBoostRegexQtCreatorSliTaz/CppHelloBoostRegexQtCreatorSliTaz
Test/CppRuntimeErrorAssertionFailedXpressiveDetailDynamicParse_charset201
Test/CppHelloWtQtCreatorLubuntu/CppHelloWtQtCreatorLubuntu
Test/CppLibcvautomationExample6/CppLibcvautomationExample6
Test/CppQSqlTableModelExample1/CppQSqlTableModelExample1
Test/CppUblasMatrixExample1/CppUblasMatrixExample1
Test/CppMxeExample5/CppMxeExample5
Test/CppHelloWorldQtCreatorCygwin/CppHelloWorldQtCreatorCygwin
Test/CppHelloBoostLexical_CastQtCreatorSliTaz/CppHelloBoostLexical_CastQtCreatorSliTaz
Test/CppHelloWorldQtCreatorLubuntu/CppHelloWorldQtCreatorLubuntu
Test/CppHelloQt5QtCreatorLubuntu/CppHelloQt5QtCreatorLubuntu
Test/CppBoostFormatExample2/CppBoostFormatExample2
Test/CppQtSqlExample1/CppQtSqlExample1
Test/CppHelloBoostSignals2QtCreatorLubuntu/CppHelloBoostSignals2QtCreatorLubuntu
Test/CppQSqlTableModelExample3/CppQSqlTableModelExample3
Test/CppHelloCpp11QtCreatorWindows/CppHelloCpp11QtCreatorWindows
Test/CppRefExample2/CppRefExample2
Test/CppHelloQtQtCreatorCygwin/CppHelloQtQtCreatorCygwin
Test/CppHelloBoostXpressiveQtCreatorCygwin/CppHelloBoostXpressiveQtCreatorCygwin
Test/CppHelloBoostRegexQtCreatorCygwin/CppHelloBoostRegexQtCreatorCygwin
Test/CppHelloBoostLexical_CastQtCreatorLubuntu/CppHelloBoostLexical_CastQtCreatorLubuntu
Test/CppHelloCpp11QtCreatorLubuntu/CppHelloCpp11QtCreatorLubuntu
Test/CppGetFilesInFolder/CppGetFilesInFolder
Test/CppHelloCpp11QtCreatorSliTaz/CppHelloCpp11QtCreatorSliTaz
Test/CppHelloBoostRegexQtCreatorLubuntuToWindows/CppHelloBoostRegexQtCreatorLubuntuToWindows
Test/CppHelloWorldQtCreatorUbuntu/CppHelloWorldQtCreatorUbuntu
Test/CppSeperateString/CppSeperateString
Test/CppHelloQtQtCreatorLubuntuToWindows/CppHelloQtQtCreatorLubuntuToWindows
Test/CppHelloWorldQt5QtCreatorLubuntuToWindows/CppHelloWorldQt5QtCreatorLubuntuToWindows
Test/CppHelloBoostRegexQtCreatorLubuntu/CppHelloBoostRegexQtCreatorLubuntu
Test/CppHelloBoostSignalsQtCreatorLubuntu/CppHelloBoostSignalsQtCreatorLubuntu
Test/CppHelloCpp0xQtCreatorSliTaz/CppHelloCpp0xQtCreatorSliTaz
Test/CppGetTxtFilesInFolder/GetTxtFilesInFolder
Test/CppHelloBoostLexical_CastQt5QtCreatorLubuntuToWindows/CppHelloBoostLexical_CastQt5QtCreatorLubuntuToWindows
Test/CppHelloWtQtCreatorUbuntu/CppHelloWtQtCreatorUbuntu
Test/CppMxeExample4/CppMxeExample4
Test/CppBoostFormatExample1/CppBoostFormatExample1
Test/CppGetRegexMatches/CppGetRegexMatches
Test/CppHelloWorldQtCreatorWindows/CppHelloWorldQtCreatorWindows
Test/CppHelloBoostRegexQtCreatorUbuntu/CppHelloBoostRegexQtCreatorUbuntu
Test/CppPreprocessorSwitchGccVersion/CppPreprocessorSwitchGccVersion
Test/CppHelloQtQtCreatorWindows/CppHelloQtQtCreatorWindows
Test/CppHelloBoostXpressiveQtCreatorLubuntu/CppHelloBoostXpressiveQtCreatorLubuntu
Projects/ProjectBrainweaver/ProjectBrainweaverAssessor
Projects/ProjectBrainweaver/ProjectBrainweaverDeveloper
Projects/ProjectBrainweaver/ProjectBrainweaverStudent
Tools/ToolMidiLessonCreator/ToolMidiLessonCreator
Tools/ToolFakeEvy/ToolFakeEvy
Tools/build-ToolCodeToHtmlDesktop-Desktop-Debug/ToolCodeToHtmlDesktop
Tools/ToolHometrainer/ToolHometrainerWebsite
Tools/ToolCreateQtProjectZipFile/ToolCreateQtProjectZipFileConsole
Tools/ToolCodeToHtml/ToolCodeToHtmlConsole
Tools/ToolCodeToHtml/ToolCodeToHtmlWebsite
Tools/ToolAsciiArter/ToolAsciiArterDesktop
Tools/ToolLoose/ToolLoose
Tools/ToolKTouchLectureCreator/ToolKTouchLectureCreator
Tools/build-ToolCodeToHtmlDesktop-Desktop-Release/ToolCodeToHtmlDesktop
Tools/ToolCreateQtProjectZipFile/ToolCreateQtProjectZipFileDesktop
Tools/ToolKalmanFilterer/ToolKalmanFiltererDesktop
Tools/ToolPause/ToolPause
Tools/ToolRandomCode/ToolRandomCodeWebsite
Tools/ToolRasper/ToolRasper
Tools/ToolRegexTester/ToolRegexTesterDesktop
Tools/ToolSimMysteryMachine/ToolSimMysteryMachineDesktop
Tools/ToolSimMysteryMachine/ToolSimMysteryMachineWebsite
Tools/ToolSolvePuzzleX/ToolSolvePuzzleX
Tools/ToolTestAbout/ToolTestAbout
Tools/ToolTestEntrance/ToolTestEntrance
Tools/ToolTestExercise/ToolTestExerciseWebsite
Tools/ToolTestLazy_init/ToolTestLazy_init
Tools/ToolTestMultiVector/TestPolyIndexer
Tools/ToolTestQrcFile/ToolTestQrcFileConsole
Tools/ToolTestQtCreatorProFile/ToolTestQtCreatorProFileConsole
Tools/ToolTestQtModels/ToolTestQtModels
Tools/ToolTestQtOcrWidget/ToolTestQtOcrWidget
Tools/ToolTestQuestion/ToolTestQuestionWebsite
Tools/ToolTestSelectFileDialog/ToolTestSelectFileDialogWebsite
Libraries/avr-libc-1.8.0/
Libraries/gsl-1.16/
Libraries/alglib-3.8.0/
Libraries/blitz-0.10/
Libraries/gmtl-0.6.1/
Libraries/bullet3/
Libraries/tokamak_release/
Libraries/bin/
Libraries/OpenFOAM-2.2.x/


CppAbcFile.htm
CppAbout.htm
CppAlglibExample1.htm
CppAlglibExample2.htm
CppApproximator.htm
CppArduinoExample1.htm
CppAssertExample1.htm
CppAssertExample2.htm
CppAssertExample3.htm
CppAutoExample1.htm
CppBimapExample1.htm
CppBimapExample2.htm
CppBinaryNewickVector.htm
ProjectRichelBilderbeek.htm
ProjectBrainweaver.htm
ToolCodeToHtml.htm
ToolKalmanFilter.htm
ProjectGtst.htm
CppCodeToHtml.htm
ProjectVanDenBogaart.htm
GameEverythingToPiecesShooter.htm
ToolSimStagecraft.htm
ProjectBristol.htm
CppChess.htm
CppKalmanFilter.htm
ToolKalmanFilterer.htm
ToolHometrainerVcl.htm
ToolHometrainer_1_9.htm
GameBeerWanter.htm
CppRichelBilderbeekProgram.htm
CppBuilderFinal.htm
ToolSoaSimExe.htm
ToolTestNdsmake.htm
ProjectThorVeen.htm
QtPostProject.htm
CppNewick.htm
CppInlineVersusNonInline.htm
ToolSurfacePlotterVcl.htm
ToolSurfacePlotterWindowsOnly.htm
ProjectMuscaDomestica.htm
ToolFunctionPlotter.htm
CppInlineVersusNonInline_1_0.htm
CppPylos.htm
ToolLearyCircumplex.htm
GameSearchAndDestroyChessVcl.htm
GameBoenken.htm
GameTronCollectionVcl.htm
GameTronCollection_0_9.htm
CppKalmanFilterExample10.htm
CppKalmanFilterExample9.htm
CppKalmanFilterExample8.htm
CppKalmanFilterExample7.htm
CppKalmanFilterExample6.htm
CppKalmanFilterExample5.htm
CppKalmanFilterExample4.htm
CppKalmanFilterExample3.htm
CppKalmanFilterExample2.htm
CppKalmanFilterExample1.htm
